.navigation{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    /* align-self: hover; */
}
.backgroundimages{
    max-width: fit-content;
}
.logo{
    padding-left: 0%;
    padding-top: 2%;
    padding-bottom: 10%;
    /* width: 50%; */
   mix-blend-mode: multiply;
   height: 100px;
   width: 100px;
   float: left;
}
header{
    background-image: url(../images/background4.png);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
/* .header{
    background-image: url(../images/background4.png);
} */
 .quote{
   font-family: cursive;
   text-align: center;
   background-color: aquamarine;
   margin-top: auto;
   
 }
 .ourservice{
    text-align: center;
    background-color: rgb(231, 231, 164);
 }
 .cname{
    font-weight: bolder;
 }
 .image1{
    /* display: flex; */
    /* flex-direction: row; */
   width: 30%;
   /* height: 200px; */
    /* margin-top: 50px; */
 }
 /*.image1 h4{
 margin-bottom: 100px;
    margin-left: 100px;
 } */
 .image1 img{
    width: 100%;
    height: 230px;
    /* height: 100%; */
    /* margin-top: 100px;
    margin-left: 100px; */
 }
 .service-container{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 200px; */
    background-color: antiquewhite;
 }

 /* styling for about us section */
 .aboutus{
    display: flex;

 }

 .aboutus p{
    font-size: larger;
 }
.why{
   text-align: center; 
}
 .choose{
    background-color: azure;
 }
 .award{
    text-transform: uppercase;
    text-align: center;
    color: rgb(13, 41, 32);
 }
 .awardimg{
   margin:auto;
   justify-content: space-between;
   padding: 60px;
 }
 footer{

 }
 