.navigation{
    display: flex;
    justify-content: space-around;
    padding: 10px;
  text-decoration:none;
    /* align-self: hover; */
}
/* .backgroundimages{
    max-width: fit-content;
} */
.logo{
    padding-left: 0%;
    padding-top: 2%;
    padding-bottom: 10%;
    /* width: 50%; */
   mix-blend-mode: multiply;
   height: 100px;
   width: 100px;
   float: left;
}

header{
    background-image: url(../images/BACKGROUND\ PHOTO.webp);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
} */
/* .header{
    background-image: url(../images/background4.png);
} */
 .quote{
   font-family: cursive;
   text-align: center;
   background-color: aquamarine;
   margin-top: auto;
   
 }
 .ourservice{
    text-align: center;
    background-color: rgb(231, 231, 164);
    width: 20%;
    margin-left: 40%;
    ;
 }
 .cname{
    font-weight: bolder;
   
 }
 .image1{
    /* display: flex; */
    /* flex-direction: row; */
   width: 30%;
   /* height: 200px; */
    /* margin-top: 50px; */
 }
 /*.image1 h4{
 margin-bottom: 100px;
    margin-left: 100px;
 } */


 .image1 img{
    width: 100%;
    height: 230px;
    /* height: 100%; */
    /* margin-top: 100px;
    margin-left: 100px; */
 }


 .service-container{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 200px; */
    background-color: antiquewhite;
 }

 /* styling for about us section */
 .aboutus{
    display: flex;

 }

 .aboutus p{
    font-size: larger;
 }
.why{
   text-align: center; 
}
 .choose{
    background-color: azure;
 }
 .award{
    text-transform: uppercase;
    text-align: center;
    color: rgb(13, 41, 32);
 }
 .awardimg{
   margin:auto;
   justify-content: space-between;
   padding: 60px;
 }


 .flogo{
    float: right;
    height: 100px;
    width: 100px;
    mix-blend-mode: multiply;
    padding-left: 100px;
    
 }

 footer{
/* background-image: url(../images/istockphoto-1850894851-1024x1024.jpg); */
justify-content: center;
height: 280px;
background-repeat: no-repeat;
background-color: aqua;
width: 100%;
 }
 

 .cname1{
text-align: center;
 }
 /* #cname2{
   display: inline-flex;
   float: right;
   padding-right: 50px;
   padding-inline: 50px;
   margin-bottom: 0%; 
 } */
 .cname2{
  display: inline-flex;
  float: right;
  text-align: left;
 }

 .cname3{
   display: inline-block;
  
 }

 .cname0{
   float: end;
   bottom: 30%;
   text-align: center;
 }
 #cname2{
   text-align: right;
 }
 .servheader{
   background-image: url(../images/img2.avif);
   background-size: cover;
   width: 100%;
   height: 400px;
   
 }
 .sname{
   color: azure;
 }
 .snavi{
   color: azure;
   display: flex;
   justify-content: space-around;
   /* font-style: italic; */
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: large;
   text-decoration: none;
   padding: 0 0 0 0;
   margin: 5px 5px 5px 5px;
 }
 .sservice{
  text-transform: uppercase;
  text-align: center;
  font-family: cursive;
  font-size: x-large;
  color: rgb(4, 4, 5);
  margin-top: 100px;
 }
 .slogo{
   height: 100px;
   width: 100px;
   mix-blend-mode: normal;
   background-image: url('transparent-image.png');
 }
 .squote{
   text-align: center;
   background-color: aquamarine;
   font-style: cursive;
   margin-top: auto;
 }
 .sec2{
   background-color: bisque;
   display: flex;
 }
 .par{
   font-size:x-large;
   font-style: inherit;
 }
 .sbut{
   text-align: center;
 }
 /* .snav a{
  color: gold;
 } */
  .ocean{
    height: 168px;
    width: 310px;
  }
  .all3{
    display: flex;
    justify-content: space-around;
  }
  .all{
    background-color: cornsilk;
  }
  .ourser{
    text-align: center;
  }
  .aboutheader{
    background-image: url(../images/img3.avif);
    height: 400px;
    width: 100%;
    background-repeat: none;
  }
 .alogo{
height: 100px;
width: 100px;
mix-blend-mode: multiply;
float: inline-end;

 }
 .anav{
  display: flex;
  justify-content: space-between;
 flex-direction:row;
 font-family: cursive;
 margin: 0px 0px 0px 0px;
 
 }
 .logonav{
display: flex;
flex-direction: row;
justify-content: space-around;
 }
 .sflogo{
  height: 100px;
  width: 100px;
  mix-blend-mode: multiply;
 }
 .sfnav{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
 }
 /* .sfootercon{
  display: flex;
 } */
  .snavi{
    display: flex;
   justify-content: space-around;
  }
  .navibar{
    list-style: none;
    padding: 0;
    display: inline;
    margin: 0 10px;

  }
  .button{
    text-align: center;
    display: flex;
    justify-content: center;
    height: 30px;
  }
  .par1{
    font-size:x-large;
    font-style: inherit;
    background-color: antiquewhite;
    margin-bottom: 0%;
  }
  .parbut{
    background-color: rgb(255, 254, 254);
  }
  .logocname{
    display: flex;
    /* justify-content: center; */
  }
  /* .contheader{../images/premium_photo */
    /* background-image: url(../images\premium_photo-1661963219843-f1a50a6cfcd3.avif); */
  /* } */
.cname4{
  display: flex; 
  flex-wrap: wrap;
  
}
.par{
  background-color: beige;
}